/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.hanken-grotesk-<uniquifier> {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
## Colors
### Primary
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)
## Gradients
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)
### Neutral
- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)
*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18;
}
.leftpanel {
    color: hsla(0, 0%, 100%, 75%);
    background: linear-gradient(180deg, hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
    max-width: 307px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px;
}
.rightpanel {
    background-color: white;
    width: 307px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border-radius: 20px 20px;
    gap: 5%;
}
.rightpanel h2 {    
    text-align: left;
    align-self: flex-start;
    margin-left: 2rem;
}
.score {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bigscore {
    color: white;
    font-size: 4rem;
    font-weight: 700;
}
.leftpanel p {
    max-width: 75%;
    text-align: center;   
}
.leftpanel h1 {
    color: white;
    margin: rem;
}
.summary{
    height: 75%;
    width: 100%; 
}
.summarySection {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}
.summaryResult {
    align-items: right;
    color: gray;
}
.summaryScore {
    color: black;
    font-weight: 900;
}
.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 67%, 7%);
}
.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 7%);
}
.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 7%);
}
.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 7%);
}
.continue {
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18;
    background-color: hsl(224, 30%, 27%);
    height: 10%;
    width: 75%;
    border-radius: 20px;
}
.summaryPart {
    font-weight: 700;
    height: 10%;
    width: 75%; 
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 5px;
    gap: 2rem;
}
